<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/cities.css" rel="stylesheet">
</head>
<body class="size-full md:size-auto">
    
        <header class="">
            <div id="header" class="  ">
                <nav class="bg-slate-700 border-black-500  ">
                    <h1 class="text-neutral-50/70  text-xl font-sans font-bold justify-start ml-2"> Cities in the world 
                        <ul role="list" class="list-none text-xs flex space-x-4 justify-end mr-2 " >
                            <li ref="#" class="text-slate-900 hover:text-neutral-50/25 underline"> Home </li>
                            <li ref="#" class="text-slate-900 hover:text-neutral-50/25 underline"> About </li>
                            <li ref="#" class="text-slate-900 hover:text-neutral-50/25 underline"> Contact </li>
                        </ul>
                    </h1>
                </nav>
            </div>
            <div id="header" class="text-grey w-full h-72 bg-cover bg-HeadCity mx-auto bg-center">
                <h2 class="text-neutral-50/75 text-[48px]"> Brujas</h2>
            </div>    
        </header>
        
        <main>
            <!-- <div id="padre-main" class="grid grid-cols-4 grid-row-2 gap-4 p-4 w-full h-10" > -->


  <!--               
                <div id="left-container" class="text-xs grid row-span-2">
                        <p> Ranking-Most Visited </p>
                        
                            <div ref="#" alt="" class="inline-block size-fit" > Name of the city 
                                <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, ipsam totam itaque sed esse libero dignissimos, eaque illum asperiores rerum iste! Ea nam fugiat sunt illum, cumque facere quia inventore.</p> </div>

                            <div ref="#" alt="" class="inline-block size-fit"> Name of the city 
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, ipsam totam itaque sed esse libero dignissimos, eaque illum asperiores rerum iste! Ea nam fugiat sunt illum, cumque facere quia inventore.</p> </div>

                            <div ref="#" alt="" class="inline-block size-fit"> Name of the city 
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, ipsam totam itaque sed esse libero dignissimos, eaque illum asperiores rerum iste! Ea nam fugiat sunt illum, cumque facere quia inventore.</p> </div>

                            <div ref="#" alt="" class="inline-block size-fit"> Name of the city 
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, ipsam totam itaque sed esse libero dignissimos, eaque illum asperiores rerum iste! Ea nam fugiat sunt illum, cumque facere quia inventore.</p> </div>

                            <div ref="#" alt="" class="inline-block" size-fit> Name of the city 
                                <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, ipsam totam itaque sed esse libero dignissimos, eaque illum asperiores rerum iste! Ea nam fugiat sunt illum, cumque facere quia inventore.</p> </div>
                                
                            <div ref="#" alt="" class="inline-block size-fit "> Name of the city 
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, ipsam totam itaque sed esse libero dignissimos, eaque illum asperiores rerum iste! Ea nam fugiat sunt illum, cumque facere quia inventore.</p> </div>
                        </ul>
                </div> -->
           
               <!--  <div class="grid grid-cols-3 gap-x-8 p-20 w-12 h-12">
                    
                    <div class="row-start-1 row-end-4 grid grid-rows-subgrid rounded-md border p-4 ">
                        <h2 class="text-2xl">Heading 2</h2>
                        <p class="py-4">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro debitis maxime culpa harum
                          accusamus eos voluptatem veniam, odio, quibusdam repudiandae quidem reiciendis distinctio
                          eveniet quia doloremque? Quasi omnis alias voluptatum.
                        </p>
                        <img src="../src/brujas-principal-3165827918.jpg" alt="Image" />
                      </div>
                   
                      <div class="row-start-1 row-end-4 grid grid-rows-subgrid rounded-md border p-4">
                        <h2 class="text-2xl">Heading 2</h2>
                        <p class="py-4">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro debitis maxime culpa harum
                          accusamus eos voluptatem veniam, odio, quibusdam repudiandae quidem reiciendis distinctio
                          eveniet quia doloremque? Quasi omnis alias voluptatum.
                        </p>
                        <img src="../src/brujas-principal-3165827918.jpg" alt="Image" />
                      </div>
                    
                      <div class="row-start-1 row-end-4 grid grid-rows-subgrid rounded-md border p-4">
                        <h2 class="text-2xl">Heading 2</h2>
                        <p class="py-4">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro debitis maxime culpa harum
                          accusamus eos voluptatem veniam, odio, quibusdam repudiandae quidem reiciendis distinctio
                          eveniet quia doloremque? Quasi omnis alias voluptatum.
                        </p>
                        <img src="../src/brujas-principal-3165827918.jpg" alt="Image" />
                      </div>

                    
                      <div class="row-start-2 row-end-4 grid grid-rows-subgrid rounded-md border p-4">
                        <h2 class="text-2xl">Heading 2</h2>
                        <p class="py-4">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro debitis maxime culpa harum
                          accusamus eos voluptatem veniam, odio, quibusdam repudiandae quidem reiciendis distinctio
                          eveniet quia doloremque? Quasi omnis alias voluptatum.
                        </p>
                        <img src="../src/brujas-principal-3165827918.jpg" alt="Image" />
                      </div>
                    
                    
                      <div class="row-start-2 row-end-4 grid grid-rows-subgrid rounded-md border p-4">
                        <h2 class="text-2xl">Heading 2</h2>
                        <p class="py-4">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro debitis maxime culpa harum
                          accusamus eos voluptatem veniam, odio, quibusdam repudiandae quidem reiciendis distinctio
                          eveniet quia doloremque? Quasi omnis alias voluptatum.
                        </p>
                        <img src="../src/brujas-principal-3165827918.jpg" alt="Image" />
                      </div>
                        
                      <div class="row-start-2 row-end-4 grid grid-rows-subgrid rounded-md border p-4">
                        <h2 class="text-2xl">Heading 2</h2>
                        <p class="py-4">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro debitis maxime culpa harum
                          accusamus eos voluptatem veniam, odio, quibusdam repudiandae quidem reiciendis distinctio
                          eveniet quia doloremque? Quasi omnis alias voluptatum.
                        </p>
                        <img src="../src/brujas-principal-3165827918.jpg" alt="Image" />
                      </div>
                </div> -->


                <!-- <div id="down-container" >
                    <p class="align-center"> Most Popular Restaurant </p>
                        <div class="flex flex-row  space-x-48 " >
                            <div ref="#" alt="" class="mb-4">  <img src="../src/restaurant.jpg" alt="" class="size-60 relative h-auto max-w-full rounded-full filter sepia transition-all duration-300 blur-[1px] hover:blur-none hover:sepia-0"></div>
                            <div ref="#" alt="" class="mb-4">  <img src="../src/restaurant.jpg" alt="" class="size-60 relative h-auto max-w-full rounded-full filter sepia transition-all duration-300 blur-[1px] hover:blur-none hover:sepia-0"></div>
                            <div ref="#" alt="" class="mb-4">  <img src="../src/restaurant.jpg" alt="" class="size-60 relative h-auto max-w-full rounded-full filter sepia transition-all duration-300  blur-[1px] hover:blur-none hover:sepia-0"></div>
                            <div ref="#" alt="" class="mb-4">  <img src="../src/restaurant.jpg" alt="" class="size-60 relative h-auto max-w-full rounded-full  filter sepia transition-all duration-300 blur-[1px] hover:blur-none hover:sepia-0"></div> 
                        </div>  
                </div> -->
            </div>
        </main>



       <!--  <footer>
            <div id="footer" class="bg-gray-200  ">
                <img alt="">
                <p class="text-gray-600"> 2021 Company, Inc </p>

            <div class="hover:text-neutral-50/25  ">
                <i  class="icon   space-x-4 underline "></i>
            </div>
            <div class="hover:text-neutral-50/25 h">
                <i  class="icon   space-x-4 underline "></i>
            </div>
            <div  class="hover:text-neutral-50/25  ">
                <i  class="icon   space-x-4 underline "></i>
            </div>
        </footer> -->
        
</body>
</html>