<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/cities.css" rel="stylesheet">
</head>
<body class="max-w-full max-h-full">
    <div id="body">
        <header>
            <div id="navbar">
                <nav class="bg-slate-700 border-black-500">
                    <h1 class="text-neutral-50/70  text-xl font-sans font-bold justify-start ml-2"> Cities in the world 
                    <ul role="list" class="list-none text-xs flex space-x-4 justify-end mr-2">
                        <li ref="#" class="text-slate-900 hover:text-neutral-50/25 underline"> Home </li>
                        <li ref="#" class="text-slate-900 hover:text-neutral-50/25 underline"> About </li>
                        <li ref="#" class="text-slate-900 hover:text-neutral-50/25 underline"> Contact </li>
                    </ul>
                </h1>
                </nav>
            </div>
            <div id="header" class="text-grey w-full h-72 bg-cover bg-HeadCity mx-auto bg-center">
                <h2 class="text-neutral-50/75 text-xl"> Brujas
                    
                </h2>
            </div>    
        </header>
        <main>
            <div id="left-container" class="container col-span-1">
                <p> Ranking-Most Visited </p>
                <div>
                <ul class="flex space-x-4">
                    <li ref="#" alt=""> Name of the city </li>
                    <li ref="#" alt=""> Name of the city </li>
                    <li ref="#" alt=""> Name of the city </li>
                    <li ref="#" alt=""> Name of the city </li>
                    <li ref="#" alt=""> Name of the city </li>
                    <li ref="#" alt=""> Name of the city </li>
                </ul>
                </div>
            </div>
            <div id="right-container" class="container grid-cols-3 text-xs content-around">
                <div class="">
                    <item>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, ipsam totam itaque sed esse libero dignissimos, eaque illum asperiores rerum iste! Ea nam fugiat sunt illum, cumque facere quia inventore.</item>
                </div>
                <div>
                    <item>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, ipsam totam itaque sed esse libero dignissimos, eaque illum asperiores rerum iste! Ea nam fugiat sunt illum, cumque facere quia inventore.</item>
                </div>
                <div>
                    <item>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, ipsam totam itaque sed esse libero dignissimos, eaque illum asperiores rerum iste! Ea nam fugiat sunt illum, cumque facere quia inventore.</item>
                </div>

                <div>
                    <item>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, ipsam totam itaque sed esse libero dignissimos, eaque illum asperiores rerum iste! Ea nam fugiat sunt illum, cumque facere quia inventore.</item>
                </div>
                <div>
                    <item>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, ipsam totam itaque sed esse libero dignissimos, eaque illum asperiores rerum iste! Ea nam fugiat sunt illum, cumque facere quia inventore.</item>
                </div>
                <div>
                    <item>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, ipsam totam itaque sed esse libero dignissimos, eaque illum asperiores rerum iste! Ea nam fugiat sunt illum, cumque facere quia inventore.</item>
                </div>
            </div>
            <div id="down-container" >
                <p class="align-center"> Most Popular Restaurant </p>
                    <div class="flex flex-row flex-wrap space-x-48 " >
                        <div ref="#" alt="" class="mb-4">  <img src="../src/restaurant.jpg" alt="" class="size-44 relative h-auto max-w-full rounded-full filter sepia transition-all duration-300 blur-[1px] hover:blur-none hover:sepia-0"></div>
                        <div ref="#" alt="" class="mb-4">  <img src="../src/restaurant.jpg" alt="" class="size-44 relative h-auto max-w-full rounded-full filter sepia transition-all duration-300 blur-[1px] hover:blur-none hover:sepia-0"></div>
                        <div ref="#" alt="" class="mb-4">  <img src="../src/restaurant.jpg" alt="" class="size-44 relative h-auto max-w-full rounded-full filter sepia transition-all duration-300  blur-[1px] hover:blur-none hover:sepia-0"></div>
                        <div ref="#" alt="" class="mb-4">  <img src="../src/restaurant.jpg" alt="" class="size-44 relative h-auto max-w-full rounded-full  filter sepia transition-all duration-300 blur-[1px] hover:blur-none hover:sepia-0"></div> 
                    </div>  
            </div>
        </main>
        <footer class="bg-gray-200 py-4">
            <div id="footer" class="  container ">
            <img alt="">
            <p class="text-gray-600"> 2021 Company, Inc </p>
                <ul>
                <li ref="#" alt=""><img src="../src/pngwing.com.png" class="flex space-x-4"></img></li>
                <li ref="#" alt=""><img src="../src/pngwing.com.png" class="flex space-x-4"></img></li>
                <li ref="#" alt=""><img src="../src/pngwing.com.png" class="flex space-x-4"></imhg></li>
                </ul>
            </div>
        </footer>
    </div>    
</body>
</html>