<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/cities.css" rel="stylesheet">
</head>
<body class="size-full md:size-auto">
    <footer >
        <div id="footer" class="bg-gray-200  w-full">
            <img alt="">
            <p class="text-gray-600"> 2021 Company, Inc </p>

        <div class="hover:text-neutral-50/25  ">
            <i  class="icon   space-x-4 underline "></i>
        </div>
        <div class="hover:text-neutral-50/25 h">
            <i  class="icon   space-x-4 underline "></i>
        </div>
        <div  class="hover:text-neutral-50/25  ">
            <svg  class="bg-icon    "></svg>
        </div>
    </footer> 
    
</body>
</html>