<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grid con Tailwind</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 p-10">
  <div class="grid grid-cols-3 grid-rows-2 gap-4">
    
    <div class="bg-blue-500 text-white p-4 text-center">1<img class="object-cover object-center w-full h-20 max-w-full rounded-lg"
      src="../src/medieval-houses-in-market-2821109251.jpg" alt="medieval-houses" />
      <div class="absolute  bottom-0 left-0 right-0 px-4 py-2 bg-gray-800 opacity-70">
          <h2 class="absolute text-sx text-green-300 bottom-5 right-5">Name of the city</h2>
      </div>
    </div>

    <div class="bg-green-500 text-white p-4 text-center">2<img class="object-cover object-center w-full h-20 max-w-full rounded-lg"
        src="../src/medieval-houses-in-market-2821109251.jpg" alt="medieval-houses" />
        <div class="absolute  bottom-0 left-0 right-0 px-4 py-2 bg-gray-800 opacity-70">
            <h2 class="absolute text-sx text-green-300 bottom-5 right-5">Name of the city</h2>
        </div>
      </div>

    <div class="bg-red-500 text-white p-4 text-center">3<img class="object-cover object-center w-full h-20 max-w-full rounded-lg"
        src="../src/medieval-houses-in-market-2821109251.jpg" alt="medieval-houses" />
        <div class="absolute  bottom-0 left-0 right-0 px-4 py-2 bg-gray-800 opacity-70">
            <h2 class="absolute text-sx text-green-300 bottom-5 right-5">Name of the city</h2>
        </div>
      </div>

    <div class="bg-yellow-500 text-white p-4 text-center">4<img class="object-cover object-center w-full h-20 max-w-full rounded-lg"
        src="../src/medieval-houses-in-market-2821109251.jpg" alt="medieval-houses" />
        <div class="absolute  bottom-0 left-0 right-0 px-4 py-2 bg-gray-800 opacity-70">
            <h2 class="absolute text-sx text-green-300 bottom-5 right-5">Name of the city</h2>
        </div>
      </div>

    <div class="bg-purple-500 text-white p-4 text-center">5<img class="object-cover object-center w-full h-20 max-w-full rounded-lg"
        src="../src/medieval-houses-in-market-2821109251.jpg" alt="medieval-houses" />
        <div class="absolute  bottom-0 left-0 right-0 px-4 py-2 bg-gray-800 opacity-70">
            <h2 class="absolute text-sx text-green-300 bottom-5 right-5">Name of the city</h2>
        </div>
      </div>

    <div class="bg-pink-500 text-white p-4 text-center">6<img class="object-cover object-center w-full h-20 max-w-full rounded-lg"
        src="../src/medieval-houses-in-market-2821109251.jpg" alt="medieval-houses" />
        <div class="absolute  bottom-0 left-0 right-0 px-4 py-2 bg-gray-800 opacity-70">
            <h2 class="absolute text-sx text-green-300 bottom-5 right-5">Name of the city</h2>
        </div>
      </div>
    
    
  </div>
</body>
</html>
