<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/cities.css" rel="stylesheet">
</head>
<body class="size-full md:size-auto">
    
        <header class="">
            <div id="header" class="  ">
                <nav class="bg-slate-700 border-black-500  ">
                    <h1 class="text-neutral-50/70  text-xl font-sans font-bold justify-start ml-2"> Cities in the world 
                        <ul role="list" class="list-none text-xs flex space-x-4 justify-end mr-2 " >
                            <li ref="#" class="text-slate-900 hover:text-neutral-50/25 underline"> Home </li>
                            <li ref="#" class="text-slate-900 hover:text-neutral-50/25 underline"> About </li>
                            <li ref="#" class="text-slate-900 hover:text-neutral-50/25 underline"> Contact </li>
                        </ul>
                    </h1>
                </nav>
            </div>
            <div id="header" class="text-grey w-full h-72 bg-cover bg-HeadCity mx-auto bg-center">
                <h2 class="text-neutral-50/75 text-[48px]"> Brujas</h2>
            </div>    
        </header>